@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #081b29;
    color: #ededed;
}

.heder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}

.logo{
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.5s;
}

.navbar a:hover{
    color: #00abf0;
}

.home{
    height: 100vh;
    background-image: url(/portafolio/assets/imgs/fond.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    background: transparent;
    max-width: 600px;
}

.home-content h1{
    color: #ededed;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 14px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 4px solid #00abf0;
    border-radius: 10px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;
}

.btn-box a:nth-child(2):hover{
    color: black;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;

}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before{
    width: 100%;
}

/* about me */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}

.heading{
    font-size: 56px;
    margin-top: 8rem;
    margin-bottom: 2rem;
    text-align: center;
}

span{
    color: #00abf0;
}

.about-img{
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #ededed;
}

.about-img .cricle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #081b29;
    border-bottom:.2rem solid #081b29;
    border-left:.2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
}

.about-content{

    text-align: center;
}

.about-content h3{
    font-size: 2.3rem;
}

.about-content p{
    font-size: 14px;
    margin: 20px 0 40px;
}
